<a href="https://colab.research.google.com/github/Sherzod-95/sad/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = {
    'Yil' : [2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015],
    'Aholi soni' : [33.9, 33.5, 33.4, 33.1, 33.01, 26.3, 26.1, 25.4],
    'Temp' : [1.54, 1.24, 1.23, 1.45, 1.34, 1.67, 1.76, 1.49],
    'Zichlik' : [79.78, 79.67, 76.56, 78.43, 75.57, 74.45, 73.34, 73.22]
}
df = pd.DataFrame(data)
df

    Yil  Aholi soni  Temp  Zichlik
0  2022       33.90  1.54    79.78
1  2021       33.50  1.24    79.67
2  2020       33.40  1.23    76.56
3  2019       33.10  1.45    78.43
4  2018       33.01  1.34    75.57
5  2017       26.30  1.67    74.45
6  2016       26.10  1.76    73.34
7  2015       25.40  1.49    73.22

In [ ]:
df.index = [22, 21, 20, 19, 18, 17, 16, 15]

In [ ]:
df

     Yil  Aholi soni  Temp  Zichlik
22  2022       33.90  1.54    79.78
21  2021       33.50  1.24    79.67
20  2020       33.40  1.23    76.56
19  2019       33.10  1.45    78.43
18  2018       33.01  1.34    75.57
17  2017       26.30  1.67    74.45
16  2016       26.10  1.76    73.34
15  2015       25.40  1.49    73.22

In [ ]:
ind = [22, 21, 20, 19, 18, 17, 16, 15]
ind.sort()
ind

[15, 16, 17, 18, 19, 20, 21, 22]

In [ ]:
df.reindex(ind)

     Yil  Aholi soni  Temp  Zichlik
15  2015       25.40  1.49    73.22
16  2016       26.10  1.76    73.34
17  2017       26.30  1.67    74.45
18  2018       33.01  1.34    75.57
19  2019       33.10  1.45    78.43
20  2020       33.40  1.23    76.56
21  2021       33.50  1.24    79.67
22  2022       33.90  1.54    79.78

In [ ]:
df

     Yil  Aholi soni  Temp  Zichlik
22  2022       33.90  1.54    79.78
21  2021       33.50  1.24    79.67
20  2020       33.40  1.23    76.56
19  2019       33.10  1.45    78.43
18  2018       33.01  1.34    75.57
17  2017       26.30  1.67    74.45
16  2016       26.10  1.76    73.34
15  2015       25.40  1.49    73.22

In [ ]:
df = df.reindex(ind)

In [ ]:
df

     Yil  Aholi soni  Temp  Zichlik
15  2015       25.40  1.49    73.22
16  2016       26.10  1.76    73.34
17  2017       26.30  1.67    74.45
18  2018       33.01  1.34    75.57
19  2019       33.10  1.45    78.43
20  2020       33.40  1.23    76.56
21  2021       33.50  1.24    79.67
22  2022       33.90  1.54    79.78

In [ ]:
df.reindex([15, 18, 22])

     Yil  Aholi soni  Temp  Zichlik
15  2015       25.40  1.49    73.22
18  2018       33.01  1.34    75.57
22  2022       33.90  1.54    79.78

In [ ]:
df.reindex(index = range(10,22), method='nearest')

     Yil  Aholi soni  Temp  Zichlik
10  2015       25.40  1.49    73.22
11  2015       25.40  1.49    73.22
12  2015       25.40  1.49    73.22
13  2015       25.40  1.49    73.22
14  2015       25.40  1.49    73.22
15  2015       25.40  1.49    73.22
16  2016       26.10  1.76    73.34
17  2017       26.30  1.67    74.45
18  2018       33.01  1.34    75.57
19  2019       33.10  1.45    78.43
20  2020       33.40  1.23    76.56
21  2021       33.50  1.24    79.67

In [ ]:
df

     Yil  Aholi soni  Temp  Zichlik
15  2015       25.40  1.49    73.22
16  2016       26.10  1.76    73.34
17  2017       26.30  1.67    74.45
18  2018       33.01  1.34    75.57
19  2019       33.10  1.45    78.43
20  2020       33.40  1.23    76.56
21  2021       33.50  1.24    79.67
22  2022       33.90  1.54    79.78

In [ ]:
df.T

,15,16,17,18,19,20,21,22
Yil,2015.00,2016.00,2017.00,2018.00,2019.00,2020.00,2021.00,2022.00
Aholi soni,25.40,26.10,26.30,33.01,33.10,33.40,33.50,33.90
Temp,1.49,1.76,1.67,1.34,1.45,1.23,1.24,1.54
Zichlik,73.22,73.34,74.45,75.57,78.43,76.56,79.67,79.78

In [ ]:
df

     Yil  Aholi soni  Temp  Zichlik
15  2015       25.40  1.49    73.22
16  2016       26.10  1.76    73.34
17  2017       26.30  1.67    74.45
18  2018       33.01  1.34    75.57
19  2019       33.10  1.45    78.43
20  2020       33.40  1.23    76.56
21  2021       33.50  1.24    79.67
22  2022       33.90  1.54    79.78

In [ ]:
df.reindex(columns=['Aholi soni', 'Temp', 'Zichlik'])
df.sample(3)

     Yil  Aholi soni  Temp  Zichlik
17  2017        26.3  1.67    74.45
16  2016        26.1  1.76    73.34
19  2019        33.1  1.45    78.43

In [ ]:
df.loc[[15, 16, 18, 22], ['Aholi soni', 'Temp', 'Zichlik']]

    Aholi soni  Temp  Zichlik
15       25.40  1.49    73.22
16       26.10  1.76    73.34
18       33.01  1.34    75.57
22       33.90  1.54    79.78